body {
	padding: 0;
	background-color: #202529;
	color: #656969;
	font-family: Georgia, "Times New Roman", Times, serif;
}
#header, #body, #footer {
	width: 800px;
	text-align: left;
	margin: 0;
	padding: 10px;
	border: 1px solid #fcd088;
}
#header {
	background-color: #fcd088;
}
#header h1, h2 {
	margin: 0;
	padding: 0;
	color: #202529;
}
#body {
	background-color: #FFF;
}
#body .alert {
	border: 1px solid #FF0;
	background: #FFFFCC;
	padding:10px;
}
#footer {
	background-color: #202529;
	text-align: center;
}